p{
    font-family: telegraf;
}
.main{
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 899px;


}
.div3{
    background-color: #1b1b1b;
    width: 100%;
    height: 100%;
}
hr{
    color: #8c52ff;

    
}
h2{
    font-family: telegraf;
    color: #1b1b1b;
    font-weight: bold;
    font-size: 3rem;
}
.projectdiv{
    text-align: center;
    background-color: #8c52ff;
    height: 80%;
    width: 100%;
}
h3{
    font-family: telegraf;
    color: white;
}
.pimg{
    border-radius: 40px;
    width: 70%;
 
}
.text-bg-dark{
    width: 45%;
}
span{
    color: #8c52ff;
}
.d-md-flex{
    justify-content: space-evenly;
}
.copyright{
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
    font-family: telegraf;
    color: #8c52ff;
}

